<div class="container">
    <div class="card mt-5" style="width:50rem; margin:0 auto;">
  
      <div class="card-body text-center">
  
        <h1 class="text-danger">Typing Challenge</h1>
  
        <p class="card-text mt-4">
          <span *ngFor="let letter of randomText.split(''); let i = index"
          [class] = "compare(letter, userInput[i])"
          >{{letter}}</span>
        </p>
  
        <div class="mb-3">
  
          <input type="text" class="form-control" (input) ="onInput($event)">
  
        </div>
  
        <h1 *ngIf="userInput==randomText" class="text-success my-3">Success!</h1>
        
  
      </div>
  
    </div>
  
  </div>